/*spacing for links*/
a {
    display: inline block;
    text-align: right;
    margin-left: 0.75%;
}

/*size for images that are links*/
.imgclick {
    width: 13%;
    height: 13%;
}

/*Page5 background*/
body {
    background: url(../images/ravine.jpg) center fixed no-repeat;
    background-size: 100% 100%;
}

/*class to indent left a text*/
.indentleft {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 35%;
}

/*the color and border scheme of my text*/
.boxleft{
    border-style: solid;
    text-align: justify;
    width: 45%;
    overflow: auto;
    margin-left: 9.5%;
    background-color:rgba(230, 230, 250, 0.6);
    padding: 10px;
    color: black;
    font-size: 20px;
}

/*class for page 5*/
.hder{
    margin-left: 9.5%;
    color: white;
    font-size: 225%;
}

/*another class for page 5*/
.title{
    border-style: none;
    color: white;
    font-size: 155%;
}

/*another class for page 5*/
.title1{
    margin-left: 9.5%;
    border-style: none;
    color: white;
    font-size: 200%;
}

/*to place all pictures with class .pictureleft to the left*/
.pictureleft {
    margin-left: 57%;
    width: 39%;
    height: 39%;
    position: absolute;
    top: 0%;
    left: 0%;
    border: hidden;
    z-index: 2;
}